<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>signup</h1>
    <form action="/home/signup" method="post">
        <label for="">username</label>
        <input type="text" name="username" id="">
        <label for="">password</label>
        <input type="password" name="password" id="">
        <button type="submit">submit</button>
    </form>
</body>

</html>